.App {
  text-align: center;
}

.wimg {
  width: 527px;
  height: 527px;
  object-fit: cover;
  object-position: 50% 50%;
  background-image: url('./some.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
}
#pageBackground_mua1n {
  --bg-position: fixed;
  --bg-overlay-color: rgb(13,33,48);
  --bg-gradient: none;
  --fill-layer-image-opacity: 1;
  --fill-layer-video-opacity: 1;
  --fill-layer-background-overlay-color: rgba(13,33,48, 0.85);
  --fill-layer-background-overlay-position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-image: url(./img/caironight.gif);
  background-repeat: no-repeat;
  background-size: cover;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}